<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Kayıt Ol</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="register-container">
    <h2>Kayıt Ol</h2>

    <!-- Genel Hata Mesajı -->
    <div class="error-message" th:if="${emailError}">
        <p th:text="${emailError}"></p>
    </div>

    <form th:action="@{/register}" method="post">
        <div class="form-group">
            <label for="name">Ad:</label>
            <input type="text" id="name" name="name" th:value="${user.name}" required>
        </div>
        <div class="form-group">
            <label for="email">E-posta:</label>
            <input type="email" id="email" name="email" th:value="${user.email}" required>
        </div>
        <div class="form-group">
            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Kayıt Ol</button>
        </div>
    </form>

    <div class="login-link">
        <p>Zaten hesabınız var mı? <a th:href="@{/login}">Giriş Yap</a></p>
    </div>
</div>
</body>
</html>
