<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teşekkürler - Renkli Rüyalar Oteli</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />

</head>
<body>
<div class="thankyou-container">
    <h1>Teşekkürler!</h1>
    <p>Rezervasyonunuz başarıyla tamamlandı. Bizimle kaldığınız için teşekkür ederiz!</p>
    <a href="/" class="button">Ana Sayfaya Dön</a>
</div>
</body>
</html>
